body{
  background-color: #222222;
  font-family: 'Special Elite', serif;
  font-size: 16px;
}

h1{
  font-family: 'Cedarville Cursive', cursive;
}

img#catImage{
  max-width: 200px;
  max-height: 200px;
}

.main{
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  padding-top: 180px;
  max-width: 800px;
  min-height: 500px;

  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.button{
  text-align: center;
}

#imageDiv{
  height: 280px;
}

#mover{
  position: absolute;
  top: 0;
  max-width: 200px;
}
