body{
  background-color: #222222;
  font-family: 'Special Elite', cursive;
}

.main{
  margin: auto;
  padding: 10%;
  width: 50%;
  min-width: 300px;

  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.card{
  margin: auto;
  padding: 18px;
  display: inline-grid;
}
