body{
  background-color: #222222;
  font-family: 'Special Elite', cursive;
}

button{
  background-color: #a7a7a7;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);

  padding: 16px;

  color: #ffffff;
  font-family: 'Special Elite', cursive;
  font-size: 16px;
  text-align: center;
}

button:hover{
  background-color: #777777;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.btn-grid{
  display:grid;
  grid-template-columns: repeat(auto);
  gap: 20px;
  margin: 5%;
}

.txt-input{
  display:grid;
  grid-template-columns: repeat(auto);
  gap: 20px;
  margin: 1%;
}

.main{
  margin: auto;
  padding: 10%;
  width: 50%;
  min-width: 300px;

  text-align: center;
  line-height: 1.5;

  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.main h2{
  font-family: 'Homemade Apple', cursive;
}
