body{
  background-color: #222222;
  font-family: 'Barlow Condensed', arial, sans-serif;
  font-size: 20px;
}

h1{
  padding-top: 50px;
  font-family: 'Give You Glory', cursive;
  font-size: 60px;
}

button{
  background-color: #222222;
  border: none;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10%;
  padding-right: 10%;

  color: #ffffff;
  font-family: 'Barlow Condensed', arial, sans-serif;
  font-size: 20px;
  text-align: center;
}

button:hover{
  background-color: #d23427;
  box-shadow: 0 6px 10px rgba(0, 0, 0, .7);
  font-size: 22px;
}

img{
  box-shadow: 0 4px 4px rgba(0, 0, 0, .3);
}

img:hover{
  box-shadow: 0 6px 12px rgba(0, 0, 0, .7);
}

input{
  width: 30%;
}

input#age{
  width: 50px;
}

.main{
  margin: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  max-width: 800px;
  min-width: 300px;

  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.info{
  display: grid;
  grid-template-columns: repeat(3, 50px);
  justify-content:space-around;

  margin: -30px auto;
  padding-left: 30px;
  padding-right: 30px;
}

.start{
  height: 92vh;
}

.card{
  margin: auto;
  padding: 14px;
  display: inline-grid;
}

@media (max-width: 865px){
  img{
    max-height: 130px;
  }
  .card{
    padding: 8px;
  }
}

@media (max-width: 585px){
  img{
    max-height: 110px;
  }
}

@media (max-width: 445px){
  img{
    max-height: 80px
  }
}
