body{
  background-color: #222222;
  font-family: 'Special Elite', cursive;
  justify-content: center;
  align-items: center;
}

.button{
  background-color: #f1f1f1;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .3);

  padding: 16px;

  color: #222;
  font-family: 'Special Elite', cursive;
  text-align: center;
  max-width: 800px;
  width: 100%;
  overflow-wrap: break-word;
}

.button:hover{
  background-color: #a7a7a7;
  color: #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
}

.buttonGrid{
  text-align: center;
  justify-content: center;
  align-items: center;
  display:grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
  width: 100%;
  padding-top: 15%;
}

.textInput{
  display:grid;
  grid-template-columns: repeat(1, auto);
  gap: 20px;
}

.main{
  margin: auto;
  margin-top: 20px;
  width: 80%;
  max-width: 1000px;
  min-width: 300px;
  height: 95vh;
  position: relative;

  text-align: center;

  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.main h2{
  font-family: 'Homemade Apple', cursive;
}

.menu {
  position: absolute;
  padding: inherit;
  bottom: 0;
  left: 0;
  width: 100%;
}

/* Tab code from w3schools @ https://www.w3schools.com/howto/howto_js_tabs.asp */
/* Style the tab */
.tab {
  overflow: hidden;
  border: none;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  float: left;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  box-shadow: none;
  font-family: 'Special Elite', cursive;
  background-color: #a7a7a7;
  color: #f1f1f1;
  border-radius: 10px 10px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #f1f1f1;
  color: #222;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f1f1f1;
  color: #222;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

/* Style the tab content */
.tabcontent {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
  color: #222;
  height: 200px;
  overflow: break-word;

  padding: 20px;
  border: none;
  text-align: left;
  border-radius: 0px 10px 0px 0px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.arrow {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow:hover{
  border-width: 0 4px 4px 0;
  padding: 4px;
}

/* Nav Arrow */
#navArrow {
  display: none;
}
